<div class="announce">
  Najnowsze wersje <a href="http://weblog.rubyonrails.org/2014/4/8/Rails-4-1/">Ruby on Rails 4.1.0</a>, 
  <a href="http://torquebox.org/news/2014/03/25/torquebox-3-1-0-released/">JRuby on Rails (Torquebox 3.1.0)</a>
</div>
